.loginButton {
  background-color: blue;
  color: white;
  border: solid 1px white;
  border-radius: 6px;
}

.loginButton:hover {
  border: solid 1px brown;
}

.loginButton:active {
  background-color: white;
  color: brown;
}
